[submodule "deps/cJSON"]
	path = deps/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "deps/tomlplusplus"]
	path = deps/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "deps/pcre2"]
	path = deps/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
