#define INCLUDE_ONLY_ICON_IDS
#include "icons.hh"

ICON_UNKNOWN PNG "..\\..\\assets\\unknown.png"
ICON_WAITING PNG "..\\..\\assets\\waiting.png"
ICON_ERROR   PNG "..\\..\\assets\\error.png"
ICON_NOITEMS PNG "..\\..\\assets\\noitems.png"
	 
ICON_TABS_MODIFIEDHOVERED PNG "..\\..\\assets\\tabs-modifiedhovered.png"
ICON_TABS_MODIFIED        PNG "..\\..\\assets\\tabs-modified.png"
ICON_TABS_HOVERED         PNG "..\\..\\assets\\tabs-hovered.png"
	 
ICON_EDITORDIAGNOSTICS_ERROR          PNG "..\\..\\assets\\diagnostics-error.png"
ICON_EDITORDIAGNOSTICS_WARNING        PNG "..\\..\\assets\\diagnostics-warning.png"
ICON_EDITORDIAGNOSTICS_INFO           PNG "..\\..\\assets\\diagnostics-info.png"
ICON_EDITORDIAGNOSTICS_HINT           PNG "..\\..\\assets\\diagnostics-hint.png"

ICON_EDITORAUTOCOMPLETE_TEXT          PNG "..\\..\\assets\\editor-autocomplete-text.png"
ICON_EDITORAUTOCOMPLETE_METHOD        PNG "..\\..\\assets\\editor-autocomplete-method.png"
ICON_EDITORAUTOCOMPLETE_FUNCTION      PNG "..\\..\\assets\\editor-autocomplete-function.png"
ICON_EDITORAUTOCOMPLETE_CONSTRUCTOR   PNG "..\\..\\assets\\editor-autocomplete-constructor.png"
ICON_EDITORAUTOCOMPLETE_FIELD         PNG "..\\..\\assets\\editor-autocomplete-field.png"
ICON_EDITORAUTOCOMPLETE_VARIABLE      PNG "..\\..\\assets\\editor-autocomplete-variable.png"
ICON_EDITORAUTOCOMPLETE_CLASS         PNG "..\\..\\assets\\editor-autocomplete-class.png"
ICON_EDITORAUTOCOMPLETE_INTERFACE     PNG "..\\..\\assets\\editor-autocomplete-interface.png"
ICON_EDITORAUTOCOMPLETE_MODULE        PNG "..\\..\\assets\\editor-autocomplete-module.png"
ICON_EDITORAUTOCOMPLETE_PROPERTY      PNG "..\\..\\assets\\editor-autocomplete-property.png"
ICON_EDITORAUTOCOMPLETE_UNIT          PNG "..\\..\\assets\\editor-autocomplete-unit.png"
ICON_EDITORAUTOCOMPLETE_VALUE         PNG "..\\..\\assets\\editor-autocomplete-value.png"
ICON_EDITORAUTOCOMPLETE_ENUM          PNG "..\\..\\assets\\editor-autocomplete-enum.png"
ICON_EDITORAUTOCOMPLETE_KEYWORD       PNG "..\\..\\assets\\editor-autocomplete-keyword.png"
ICON_EDITORAUTOCOMPLETE_SNIPPET       PNG "..\\..\\assets\\editor-autocomplete-snippet.png"
ICON_EDITORAUTOCOMPLETE_COLOR         PNG "..\\..\\assets\\editor-autocomplete-color.png"
ICON_EDITORAUTOCOMPLETE_FILE          PNG "..\\..\\assets\\editor-autocomplete-file.png"
ICON_EDITORAUTOCOMPLETE_REFERENCE     PNG "..\\..\\assets\\editor-autocomplete-reference.png"
ICON_EDITORAUTOCOMPLETE_FOLDER        PNG "..\\..\\assets\\editor-autocomplete-folder.png"
ICON_EDITORAUTOCOMPLETE_ENUMMEMBER    PNG "..\\..\\assets\\editor-autocomplete-enummember.png"
ICON_EDITORAUTOCOMPLETE_CONSTANT      PNG "..\\..\\assets\\editor-autocomplete-constant.png"
ICON_EDITORAUTOCOMPLETE_STRUCT        PNG "..\\..\\assets\\editor-autocomplete-struct.png"
ICON_EDITORAUTOCOMPLETE_EVENT         PNG "..\\..\\assets\\editor-autocomplete-event.png"
ICON_EDITORAUTOCOMPLETE_OPERATOR      PNG "..\\..\\assets\\editor-autocomplete-operator.png"
ICON_EDITORAUTOCOMPLETE_TYPEPARAMETER PNG "..\\..\\assets\\editor-autocomplete-typeparameter.png"

ICON_EDITORSEARCHRESULTS_CLOSED       PNG "..\\..\\assets\\editor-searchresults-closed.png"
ICON_EDITORSEARCHRESULTS_OPENED       PNG "..\\..\\assets\\editor-searchresults-opened.png"
	 
ICON_EXPLORER_FOLDEROPEN   PNG "..\\..\\assets\\explorer-folderopen.png"
ICON_EXPLORER_FOLDERCLOSED PNG "..\\..\\assets\\explorer-folderclosed.png"
ICON_EXPLORER_FILE         PNG "..\\..\\assets\\explorer-file.png"
	 
ICON_LSP_STANDBY      PNG "..\\..\\assets\\lsp-standby.png"
ICON_LSP_INITIALIZING PNG "..\\..\\assets\\lsp-initializing.png"
ICON_LSP_RUNNING      PNG "..\\..\\assets\\lsp-running.png"
ICON_LSP_SHUTTINGDOWN PNG "..\\..\\assets\\lsp-shuttingdown.png"
ICON_LSP_EXITED       PNG "..\\..\\assets\\lsp-exited.png"
ICON_LSP_CRASHED      PNG "..\\..\\assets\\lsp-crashed.png"
